<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDKforNFCWrapperLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SDKforNFCWapperLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SDKforNFCWrapperLibrary.Properties.Settings>
            <setting name="EnableNativeNfcLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NativeNfcLog" serializeAs="String">
                <value>nfc.log</value>
            </setting>
        </SDKforNFCWrapperLibrary.Properties.Settings>
        <SDKforNFCWapperLibrary.Properties.Settings>
            <setting name="EnableNativeNfcLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NativeNfcLog" serializeAs="String">
                <value>nfc.log</value>
            </setting>
        </SDKforNFCWapperLibrary.Properties.Settings>
    </applicationSettings>
</configuration>